#t01 {
  width: 100%;
  background-color: #f1f1c1;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
#t01 th {
  color: white;
  background-color: black;
}

.container {
  padding: 16px;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: left;
  margin: 4px 1px 2px 0;
}
/* Avatar image */
img.avatar {
  width: 3%;
  border-radius: 7%;
}